* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  font-family: "Comic Neue", cursive;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #000;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 75px;
  padding: 0.5rem 2rem;
}
.navbar__logo {
  cursor: pointer;
  padding: 12px 12px;
}
.navbar__arrow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  justify-content: center;
  opacity: 0;
}
.navbar__arrow svg {
  fill: currentColor;
  width: 35px;
  display: block;
  height: 35px;
}
.navbar__arrow:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.search {
  border: 1px solid #f6c700;
  display: flex;
  background-color: #000;
  padding: 2px 4px;
  align-items: center;
  max-width: 316.55px;
  height: 50px;
  width: 100% !important;
  justify-content: space-between;
  margin: 18px auto -1px auto;
  border-radius: 4px;
}
.search__input {
  flex: 1;
  font: inherit;
  color: floralwhite;
  width: 100%;
  border: none;
  line-height: 1.1876rem;
  background: none;
  padding: 6px 0 7px 9px;
  display: block;
  box-sizing: content-box;
  justify-content: center;
  font-weight: 600;
  outline: none;
}
.search__button {
  padding: 10px;
  cursor: pointer;
  font-size: 17.49px;
  background: none;
  border: none;
  border-radius: 50%;
}
.search__button:hover {
  background-color: rgba(246, 255, 255, 0.2);
}

.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-box {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.skeleton-img {
  width: 150px;
  height: 225px;
}

.skeleton-text {
  width: 80%;
  height: 20px;
  margin: 8px 0;
  justify-self: left;
}

.skeleton-icon {
  width: 40px;
  height: 20px;
  margin-right: 8px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.movie-list {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}
.movie-list .row {
  display: flex;
  gap: 0;
  margin-top: 0;
}
.movie-list__card {
  border-radius: 4px;
  overflow: hidden;
  color: white;
  width: 25%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 253.66px;
  margin: 8px;
  text-align: center;
}
.movie-list__poster {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.movie-list img {
  width: 100%;
  height: 400px;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.movie-list img:hover {
  transform: scale(1.1);
}
.movie-list__title {
  cursor: pointer;
  position: absolute;
  padding: 1rem;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  background: linear-gradient(0deg, #000, transparent);
}
.movie-list__footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
.movie-list__release-year {
  font-size: 1rem;
}
.movie-list .fa-regular {
  font-size: 1.25rem;
}
.movie-list__rating {
  font-size: 1.25rem;
  padding: 0 1rem 1rem;
  color: #f6c700;
  cursor: pointer;
  border-radius: 50%;
}
.movie-list__rating:hover {
  background-color: rgba(246, 255, 255, 0.2);
}

@media (max-width: 1024px) {
  .movie-list {
    padding: 2rem;
    display: contents;
  }
  .movie-list__card {
    width: 33.33%;
  }
  .movie-detail {
    flex-direction: column;
  }
  .movie-detail__info {
    padding: 1rem 0;
  }
}
@media (max-width: 768px) {
  .navbar,
  .navbar-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .navbar__arrow,
  .navbar-detail__arrow {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .search {
    width: 100%;
    padding: 0 1rem;
    margin: 1rem auto;
    box-sizing: border-box;
    align-items: center;
  }
  .movie-list .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
  }
  .movie-list__card {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px 12px 0 0;
  }
  .movie-detail__poster img {
    width: 100%;
    height: auto;
  }
  .movie-detail {
    padding: 1rem;
  }
  .movie-detail__title {
    font-size: 1.8rem;
  }
  .movie-detail__description {
    font-size: 1rem;
  }
  .movie-detail__subinfo {
    font-size: 0.7rem;
  }
  .movie-detail__subinfo div {
    padding: 0 0.5rem;
  }
  .movie-detail__rating-container {
    font-size: 1rem;
  }
  .movie-detail__rating svg {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .movie-detail {
    flex-direction: column;
  }
  .movie-detail .movie-poster {
    margin: 0 auto;
  }
  .movie-detail .movie-info {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .navbar__logo,
  .navbar-detail__logo {
    padding: 8px;
    order: 1;
  }
}
.navbar-detail {
  display: flex;
  justify-items: center;
  justify-content: flex-start;
  background: #000;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0.5rem 2rem;
}
.navbar-detail__logo {
  cursor: pointer;
  position: relative;
  top: 6px;
}
.navbar-detail__arrow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
}
.navbar-detail__arrow svg {
  fill: currentColor;
  width: 35px;
  display: block;
  height: 35px;
}
.navbar-detail__arrow:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.movie-detail {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  color: white;
  justify-content: space-between;
  padding: 2rem 5rem;
}
.movie-detail__poster img {
  height: 600px;
  width: 375.55px;
}
.movie-detail__info {
  padding: 0 2rem;
}
.movie-detail__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 45px;
}
.movie-detail__title {
  font-size: 2.4rem;
  padding-right: 0.5rem;
  margin-bottom: 10px;
}
.movie-detail__subinfo {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-start;
  font-size: 0.8rem;
  opacity: 0.7;
  color: white;
}
.movie-detail__subinfo div {
  padding: 0 1rem;
  border-right: 2px solid hsla(0, 0%, 100%, 0.5);
}
.movie-detail__subinfo div:first-child {
  padding-left: 0;
}
.movie-detail__description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.movie-detail__divider {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
  margin: 0;
  flex-shrink: 0;
}
.movie-detail__medata {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.movie-detail__medata-title {
  width: 120px;
  font-weight: 700;
}
.movie-detail__medata-value {
  opacity: 0.7;
  flex: 1;
}
.movie-detail__medata-value p {
  margin: 0;
}
.movie-detail__rating-container {
  font-size: 1.5rem;
  color: #e4bb24;
}
.movie-detail__rating-container i {
  font-size: 0.7rem;
  opacity: 0.5;
  color: #fff;
}
.movie-detail__rating {
  display: flex;
  align-items: center;
}
.movie-detail__rating svg {
  font-size: 2.1875rem;
  fill: #e4bb24;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: 0;
}

/*# sourceMappingURL=style.css.map */
