.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #000;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 75px;
    padding: .5rem 2rem;

    &__logo {
        cursor: pointer;
        padding: 12px 12px;

    }

    &__arrow {
        display: inline-flex;
        align-items: center;
        ;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        padding: 0.5rem;
        justify-content: center;
        opacity: 0;

        svg {
            fill: currentColor;
            width: 35px;
            display: block;
            height: 35px;

        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.08);

        }
    }
}

.search {
    border: 1px solid #f6c700;
    display: flex;
    background-color: #000;
    padding: 2px 4px;
    align-items: center;
    max-width: 375.55px;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;


    &__input {
        flex: 1;
        font: inherit;
        color: floralwhite;
        width: 100%;
        border: none;
        line-height: 1.1876rem;
        background: none;
        padding: 6px 0 7px 9px;
        display: block;
        box-sizing: content-box;
        justify-content: center;
        font-weight: 600;
        outline: none;

    }

    &__button {
        padding: 10px;
        cursor: pointer;
        font-size: 17.49px;
        background: none;
        border: none;
        border-radius: 50%;

        &:hover {
            background-color: rgba(246, 255, 255, 0.2);
        }
    }



}

.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-box {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.skeleton-img {
    width: 150px;
    height: 225px;
}

.skeleton-text {
    width: 80%;
    height: 20px;
    margin: 8px 0;
}

.skeleton-icon {
    width: 40px;
    height: 20px;
    margin-right: 8px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}